<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianxia.app.healthworld"
    android:versionCode="1"
    android:versionName="V1.0_Base_20120408" >
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application android:name=".AppApplication"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <meta-data android:value="4f672e2352701550360000c9" android:name="UMENG_APPKEY" />
        <meta-data android:value="gfan" android:name="UMENG_CHANNEL"/>
        <!--以下属性为应用ID,从万普后台获取-->
        <meta-data android:name="WAPS_ID" android:value="923cfb1a970c051eccd0af856bd3752c" />
        <!--以下属性为分发渠道ID,编码表参见本文档末附表-->
        <meta-data android:name="WAPS_PID" android:value="WAPS" />
        <activity android:name="com.tianxia.lib.baseworld.main.MainTabFrame">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.tianxia.lib.baseworld.BaseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity android:name=".infomation.InfomationTabActivity"></activity>
        <activity android:name=".category.CategoryTabActivity"></activity>
        <activity android:name=".category.CategoryListActivity"></activity>
        <activity android:name=".digest.DigestTabActivity"></activity>
        <activity android:name=".digest.ChapterListActivity"></activity>
        <activity android:name=".favorite.FavoriteTabActivity"></activity>
        <activity android:name=".setting.SettingTabActivity"></activity>
        <activity android:name="com.tianxia.lib.baseworld.activity.SettingAboutActivity"></activity>

        <activity android:name="com.feedback.ui.SendFeedback" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.feedback.ui.FeedbackConversations" />
        <activity android:name="com.feedback.ui.FeedbackConversation" android:configChanges="keyboard" />

        <activity android:name="com.waps.OffersWebView" android:configChanges="keyboardHidden|orientation"/>
    </application>

</manifest>
